
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 24px;
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(24, 0, 68);
    color: white;
}

fieldset{
    padding: 8px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid rgba(138, 43, 226, 0.25);
}

fieldset:last-of-type{
    border: none;
}

h1{
    color: blueviolet;
    text-align: center;
}

p{
    text-align: center;
}

label{
    display: block;
    margin: 10px;
}

.text-input{
    width: 100%;
    margin-top: 4px;
    background-color: rgb(52, 14, 88);
    border: none;
    color: white;
}

input[type="submit"]{
    display: block;
    margin: 24px auto;
}

.row{
    text-align: left;
}

#cv{
    background-color: rgb(52, 14, 88);
}

select{
    color: white
}

