
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    padding: 0 100px;;
    max-width: 900px;
    margin: auto;
}

footer{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1{
    text-align: center;
    padding-top: 24px;
}

#about-me{
    display: flex;
    
}

#my-description{
    margin: auto;
    padding: 12px;
    
}

img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
    padding: 16px;
    
}

#bout-me-title{
    margin-bottom: 8px;
}

section:not(#about-me){
    padding: 0 12px;
}