*{
    font-family: Calibri;
  }
  
  html{
    box-sizing: border-box;
  }
  
  main{
    border: 2px solid #0f0f0f;
    padding: 8px;
  }
  
  nav{
    display: flex;
    position: relative;
    flex-direction: column;
    border: 2px solid #0f0f0f;
    padding: 8px;
  }
  
  nav header{
    font-size: 24px;
    font-weight: 700;
  }
  
  .nav-link{
    font-size: 16px;
    text-decoration: none;
    padding-top: 12px;
  }
  
  header{
    font-size: 40px;
  }
  
  .main-para{
    font-size: 18px;
  }
  
  body{
    display: flex;
  }