*{
    font-family: Calibri;
  }
  
  html{
    box-sizing: border-box;
  }
  
  main{
    border: 2px solid #0f0f0f;
    padding: 8px;
    position: absolute;
    left: 270px;
  }
  
  nav{
    display: flex;
    position: fixed;
    flex-direction: column;
    border: 2px solid #0f0f0f;
    padding: 8px;
  }
  
  nav header{
    font-size: 24px;
    font-weight: 700;
  }
  
  .nav-link{
    font-size: 16px;
    text-decoration: none;
    padding-top: 12px;
  }
  
  header{
    font-size: 40px;
  }
  
  body{
    display: flex;
  }

  p, ul {
    font-size: 18px;
  }

  h2{
    border-bottom: 1px solid #0f0f0f;
  }

  code{
    font-family: monospace;
    font-size: 16px;
  }

  .code{
    background-color: aliceblue;
    padding: 12px;
    border-left: 5px solid rgb(116, 186, 247);
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
  }

  br{
    padding-left: 4px;;
  }

  .in1{
    text-indent: 10px;
  }

  .in2{
    text-indent: 20px;
  }

  img{
    max-width: 100%;

  }

  .note{
    padding-left: 8px;
    padding-right: 8px;
  }

  video{
    width: 100%;
    margin: 0 auto;
  }